In [36]:
"""
    Name: Jacqueline Ramos
    Description: Below is my program for the Mindex Data & Analytics Code Challenge. It includes script to 
    download football stat csv files from an AWS S3 bucket, 
    read these files into dataframes, 
    and write these dataframes to a postgresql database.
"""

'\n    Name: Jacqueline Ramos\n    Description: Below is my program for the Mindex Data & Analytics Code Challenge. It includes script to \n    download football stat csv files from an AWS S3 bucket, \n    read these files into dataframes, \n    and write these dataframes to a postgresql database.\n'

In [9]:
import pandas as pd
import boto3

In [19]:
# create an AWS client to connect to AWS S3 bucket
client=boto3.client('s3')

# list of files to download from bucket
file_list=["bengals.csv", "boyd_receiving.csv", "chase_receiving.csv", "higgins_receiving.csv"]

# function downloads each file from 'mindex-data-analytics-code-challenge' bucket to my local folder
def download_files(files:list):
    for file in files:
        client.download_file(Bucket="mindex-data-analytics-code-challenge",
        Key=file,
        Filename="/content/drive/MyDrive/Colab Notebooks/MINDEX/MindexChallenge/"+file)

download_files(file_list)

In [37]:
import os

#change directory to project folder
root_dir='/content/drive/MyDrive/'
project_folder='Colab Notebooks/MINDEX/MindexChallenge/'

os.chdir(root_dir + project_folder)

In [38]:
# read each csv file into a pandas dataframe
bengals_df = pd.read_csv('bengals.csv', sep=',')
boyd_df = pd.read_csv('boyd_receiving.csv', sep=',')
chase_df = pd.read_csv('chase_receiving.csv', sep=',')
higgins_df = pd.read_csv('higgins_receiving.csv', sep=',')

In [39]:
# rename Yards and TD column names to include receiver's name 
boyd_df.rename(columns = {'Yards': 'Boyd_Yards', 'TD': 'Boyd_TD'}, inplace=True)

chase_df.rename(columns = {'Yards': 'Chase_Yards', 'TD': 'Chase_TD'}, inplace=True)

higgins_df.rename(columns = {'Yards': 'Higgins_Yards', 'TD': 'Higgins_TD'}, inplace=True)

In [40]:
# merge the dataframes together to contain all 3 different receivers yards and TD stats 
# along with the bengals week, opponent, location, and result stats
merged_df=pd.merge(bengals_df, boyd_df, how='left').merge(chase_df, how='left').merge(higgins_df, how='left')

In [41]:
# replace the 1.0 and 0.0 values with Win and Loss in the Result column
merged_df['Result']=merged_df['Result'].replace({1.0: 'Win', 0.0: 'Loss'})
print(merged_df)

     Week Opponent Location Result  Boyd_Yards  Boyd_TD  Chase_Yards  \
0    PRE1       TB     Away    Win         NaN      NaN          NaN
1    PRE2      WSH     Away   Loss         NaN      NaN          NaN
2    PRE3      MIA     Home   Loss         NaN      NaN          NaN
3    REG1      MIN     Home    Win        32.0      0.0        101.0
4    REG2      CHI     Away   Loss        73.0      0.0         54.0
5    REG3      PIT     Away    Win        36.0      1.0         65.0
6    REG4      JAX     Home    Win       118.0      0.0         77.0
7    REG5       GB     Home   Loss        24.0      0.0        159.0
8    REG6      DET     Away    Win         7.0      0.0         97.0
9    REG7      BAL     Away    Win        39.0      0.0        201.0
10   REG8      NYJ     Away   Loss        69.0      1.0         32.0
11   REG9      CLE     Home   Loss        11.0      0.0         49.0
12  REG10      NaN      NaN    NaN         NaN      NaN          NaN
13  REG11       LV     Away    Win        49.0      0.0         32.0
14  REG12      PIT     Home    Win        13.0      0.0         39.0
15  REG13      LAC     Home   Loss        85.0      0.0         52.0
16  REG14       SF     Home   Loss        55.0      0.0         77.0
17  REG15      DEN     Away    Win        96.0      1.0          3.0
18  REG16      BAL     Home    Win        85.0      1.0        125.0
19  REG17       KC     Home    Win        36.0      1.0        266.0
20  REG18      CLE     Away   Loss         NaN      NaN         26.0
21  POST1       LV     Home    Win        26.0      1.0        116.0
22  POST2      TEN     Away    Win        17.0      0.0        109.0
23  POST3       KC     Away    Win        19.0      0.0         54.0
24  POST4      LAR  Neutral   Loss        48.0      0.0         89.0

    Chase_TD  Higgins_Yards  Higgins_TD
0        NaN            NaN         NaN
1        NaN            NaN         NaN
2        NaN            NaN         NaN
3        1.0           58.0         1.0
4        1.0           60.0         1.0
5        2.0            NaN         NaN
6        0.0            NaN         NaN
7        1.0           32.0         0.0
8        0.0           44.0         0.0
9        1.0           62.0         0.0
10       1.0           97.0         0.0
11       0.0           78.0         0.0
12       NaN            NaN         NaN
13       1.0           15.0         0.0
14       0.0          114.0         1.0
15       0.0          138.0         1.0
16       2.0          114.0         0.0
17       0.0           23.0         0.0
18       0.0          194.0         2.0
19       3.0           62.0         0.0
20       0.0            NaN         NaN
21       0.0           10.0         0.0
22       0.0           96.0         0.0
23       1.0          103.0         0.0
24       0.0          100.0         2.0

In [42]:
import psycopg2 as ps
import sqlalchemy
from sqlalchemy import create_engine

In [43]:
# establish sqlalchemy engine connection to database
conn_string = "postgresql+psycopg2://jacqueline_ramos:racquelinejamos@ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com:5432/postgres"
engine = create_engine(conn_string)

try:
    sql_conn = engine.connect()
except sqlalchemy.OperationalError as e:
    raise e
else:
    print('Engine connected!')

Engine connected!

In [44]:
host_name = "ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com"
username = "jacqueline_ramos"
password = "racquelinejamos"
db = "postgres"
table_name = "jacqueline_ramos"

# establish psycopg2 connection to database
try:
    conn=ps.connect(host=host_name, database=db, user=username, password=password)
except ps.OperationalError as e:
    raise e
else:
    print('You are conected to your database!')

cursor = conn.cursor()

You are conected to your database!

In [45]:
# run sql query to drop table and its data if it already exists
cursor.execute(""" DROP TABLE IF EXISTS jacqueline_ramos """)
conn.commit()

In [46]:
# run sql query to create table with column names
cursor.execute(""" 
CREATE TABLE IF NOT EXISTS jacqueline_ramos
(
    Week VARCHAR(20),
    Opponent VARCHAR (20),
    Location VARCHAR(20),
    Result VARCHAR(20),
    Boyd_Yards FLOAT,
    Boyd_TD FLOAT,
    Chase_Yards FLOAT,
    Chase_TD FLOAT,
    Higgins_Yards FLOAT, 
    Higgins_TD FLOAT
);""")

conn.commit()

In [47]:
# write dataframe to the database
try:
  merged_df.to_sql('jacqueline_ramos', engine, if_exists='replace',
          index=False)
except (Exception, sqlalchemy.DatabaseError) as error:
  print("Error: %s" % error)
  conn.rollback()
  cursor.close()
else:
  print("Dataframe successfully written to DB!")


conn.commit()

Dataframe successfully written to DB!

In [48]:
# additional sql queries are in the sql script

"""
  END OF PROGRAM
"""

'\n  END OF PROGRAM\n'